RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^page-([^_]*)\.html$ /page.php?id=$1 [L]
RewriteRule ^page-([^_]*)-([^_]*)\.html$ /page.php?id=$1&name=$2 [L]

RewriteRule ^editor-([^_]*)\.html$ /page-editor.php?id=$1 [L]

ErrorDocument 400     /404.php
ErrorDocument 401     /404.php
ErrorDocument 403     /404.php
ErrorDocument 404     /404.php
ErrorDocument 500     /500.php